<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>explore - ThousandsTakes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>
    <!--https://fonts.googleapis.com/css?family=Poppins:300,400,500,600-->
    <link rel="stylesheet" href="/assets/css/googleapis-poppins.css" th:href="@{/assets/css/googleapis-poppins.css}">
    <!--href="https://fonts.googleapis.com/css?family=Nunito:200,300,400"-->
    <link rel="stylesheet" href="/assets/css/googleapis-nunito.css" th:href="@{/assets/css/googleapis-nunito.css}">

    <!-- Animate.css -->
    <link rel="stylesheet" href="/assets/css/animate.css" th:href="@{/assets/css/animate.css}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/assets/css/icomoon.css" th:href="@{/assets/css/icomoon.css}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" th:href="@{/assets/css/magnific-popup.css}">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css"
          th:href="@{/assets/css/owl.theme.default.min.css}">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/assets/css/style.css" th:href="@{/assets/css/style.css}">

    <!-- Modernizr JS -->
    <script src="/assets/js/modernizr-2.6.2.min.js" th:href="@{/assets/js/modernizr-2.6.2.min.js}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]-->
    <script src="/assets/js/respond.min.js" th:href="@{/assets/js/respond.min.js}"></script>
    <!--[endif]-->

</head>
<body>

<div class="colorlib-loader"></div>

<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div id="colorlib-logo"><a href="/">ThousandsTakes</a></div>
                    </div>
                    <div class="col-md-10 text-right menu-1">
                        <ul>
                            <li><a th:href="@{/home}">主页</a></li>
                            <li><a th:href="@{/explore}">发现</a></li>
                            <li><a th:href="@{/upload}">发布</a></li>
                            <li class="has-dropdown">
                                <a th:href="@{/news/comment}">消息</a>
                                <ul class="dropdown">
                                    <li><a th:href="@{/news/comment}">评论</a></li>
                                    <li><a th:href="@{/news/like}">喜欢</a></li>
                                    <li><a th:href="@{/news/follower}">关注</a></li>
                                </ul>
                            </li>
                            <li><a th:href="@{/user/}+${loginUserId}">我</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section id="home" class="video-hero"
             style="height: 700px; background-image: url(assets/images/cover_img_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;"
             data-section="home" th:if="${loginUserId}==null">
        <div class="overlay"></div>
        <div class="display-t text-center">
            <div class="display-tc">
                <div class="container">
                    <div class="col-md-12 col-md-offset-0">
                        <div class="animate-box">
                            <h2>ThousandsTakes</h2>
                            <p>与互联网一起分享你的创造力</p>
                            <p><a th:href="@{/login}" class="btn btn-primary btn-lg btn-custom">登录</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section th:if="${loginUserId}!=null" id="home2" class="video-hero"
             style="height: 150px; background-image: url(assets/images/cover_img_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;"
             data-section="home">
        <div class="overlay"></div>
        <div class="display-t text-center">
        </div>
    </section>


    <div class="colorlib-blog">
        <div class="container">
            <div class="row justify-content-md-center" th:each="profile:${allProfile}" th:if="${allProfile!=null}">
                <div class="col-md-8">
                    <article>
                        <p class="author-wrap"><a th:href="@{/user/}+${profile.userId}" class="author-img"
                                                  th:style="'background-image: url('+@{/avatars/stream/}+${profile.avatarId}+');'"></a>
                            <a
                                    th:href="@{/user/}+${profile.userId}"
                                    class="author"
                                    th:text="${profile.username}">username</a>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>


    <footer id="colorlib-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        This template is made with <i class="icon-heart" aria-hidden="true"></i>
                        by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --><br>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a href="#" class="/assets/js-gotop"><i class="icon-arrow-up2"></i></a>
</div>

<!-- jQuery -->
<script src="/assets/js/jquery.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<!-- jQuery Easing -->
<script src="/assets/js/jquery.easing.1.3.js" th:href="@{/assets/js/jquery.easing.1.3.js}"></script>
<!-- Bootstrap -->
<script src="/assets/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<!-- Waypoints -->
<script src="/assets/js/jquery.waypoints.min.js" th:href="@{/assets/js/jquery.waypoints.min.js}"></script>
<!-- Stellar Parallax -->
<script src="/assets/js/jquery.stellar.min.js" th:href="@{/assets/js/jquery.stellar.min.js}"></script>
<!-- YTPlayer -->
<script src="/assets/js/jquery.mb.YTPlayer.min.js" th:href="@{/assets/js/jquery.mb.YTPlayer.min.js}"></script>
<!-- Owl carousel -->
<script src="/assets/js/owl.carousel.min.js" th:href="@{/assets/js/owl.carousel.min.js}"></script>
<!-- Magnific Popup -->
<script src="/assets/js/jquery.magnific-popup.min.js" th:href="@{/assets/js/jquery.magnific-popup.min.js}"></script>
<script src="/assets/js/magnific-popup-options.js" th:href="@{/assets/js/magnific-popup-options.js}"></script>
<!--	 Counters -->
<script src="/assets/js/jquery.countTo.js" th:href="@{/assets/js/jquery.countTo.js}"></script>
<!-- Main -->
<script src="/assets/js/main.js" th:href="@{/assets/js/main.js}"></script>

</body>
</html>

